body {
    margin: 0;
    padding: 0;
    background-image: url(img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: serif;
}

.bar {
    background-color: darkgrey;
    color: white;
    list-style: none;
    text-align: center;
    padding: 15px 0 15px 0;
}

.bar > li {
    display: inline-flex;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 15px;
}

.bar > li > a {
    text-decoration: none;
    color: white;
}

.bar > li > a:hover {
    color: darkgrey;
}

section {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 300px;
    width: 1200px;
    background-color: white;
    display: flex;
}

.content {
    width: calc(50% - 50%);
    height: :100%;
    background-color: white;
    padding: 2% 5%;
    line-height: 1.5em;
    font-size: 30px;
    text-align: center;
}

.imagembox {

    width: 1px;
    height: 1px;
    border-left: 100px solid;
    border-bottom: 400px solid transparent;
    background-position: -150px 0px;
}

.box {
    width: 1000px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 34%;
    color: white;
}

.box-img {
    width: 200px;
    height: 200px;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #b9b9b9;
}
